.colour-switcher{
    font-size: 12px;
    border-radius: 0px;
    border: none;
}
.btn-light
{
    background-color: transparent;
    box-shadow: none !important;
    border: none;
}
.btn-dark
{
    background-color: transparent;
    box-shadow: none !important;
    border: none;
}