<div class="container mx-auto">
  <div class="card mx-0">
    <div class="box-section card-body">
      <h5 class="card-title text-center" style="color: red; font-size: 1.6rem;">PARLIAMENT DIGITAL LIBRARY (PDL)</h5>
      <p class="card-text" style="color: black; font-size: 16px;">Parliament Digital Library provides information about
        various parliamentary documents of Lok Sabha, the House of People. The debates of Lok Sabha, from the First Lok
        Sabha to the Seventeenth Lok Sabha are placed in this portal. The Reports of several Parliamentary Committees,
        Presidential Addresses to Parliament, Budget Speeches, and several publications of the Lok Sabha Secretariat are
        also part of its collections. The treasured and historic legislative debates, tracing the growth and development
        of modern parliamentary institutions in India, from 1854 to 1952, thereby covering the period of 99 years, have
        also been digitized. The portal provides the users a single window information retrieval technology with
        filtered and federated search from multiple searchable resources.</p>
    </div>
  </div>
</div>