:host {
  display: block;

  div.background-image-container {
    color: white;
    position: relative;

    .background-image>img {
      background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .box-section {
      border: #d9e3db 2px solid;
      border-radius: 12px;
      box-shadow: 2px 2px #eee;
      padding: 15px;
    }

    .bb {
      border: #d9e3db 2px solid;
      border-radius: 12px;
      box-shadow: 2px 2px #eee;
      padding: 15px;
    }

    .container {
      position: relative;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

      &:before,
      &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background: linear-gradient(to right, var(--ds-banner-text-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-text-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .jumbotron {
    background-color: transparent;
  }

  a {
    color: var(--ds-home-news-link-color);

    @include hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }

  .custom-card{
    background-color: #640371 !important;
    max-height:150px !important;

    h5{
      font-size:2.0em;
      font-family:"trebuchet MS";
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom:10px;
      text-align:center;
      color:white;
    }
    .search_label
    {
      color:white;
      float:left;
      margin-left:15px;
      font-size:17px;
      font-weight: bold;
      cursor:pointer;
    }
    .search_dropdown
    {
      height:35px;
      margin:10px 0;
      max-width:227px;
    }

    .search_hint
    {
      color: #fff;
      font-size: 12px;
    }
    .search_pdf_link
    {
      position: absolute;
      margin: 0px 0px;
      height: 35px;
      cursor: pointer;
      background-color: #e6e6e6;
      color: red;
      border-radius: none;
      font-size: 15px;
      font-weight: bold;
    }
    .search_input
    {
    }
    .search_go_btn
    {
      margin: 10px 0;
    }
  }
}
