<div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <ul class="topbar-ul">
            <li class="topbar-li">
              <ds-current-date></ds-current-date>
            </li>
            <li class="topbar-li">
              <ds-current-time></ds-current-time>
            </li>
            <li class="topbar-li">
              <ds-colour-switcher></ds-colour-switcher>
            </li>
            <li class="topbar-li">
              <ds-font-resizer></ds-font-resizer>
            </li>
            <li class="topbar-li">
              Hello
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  